{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>djangoTest</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
    <div class="d-flex justify-content-between p-5">
        <h4 class="welcome"><a href="{% url 'post_list' %}">👨🏻‍💻</a></h4>
        <div class="welcome__profile">
            {% if user.is_authenticated %}
                <h4 class="text-success">{{ user.username }} 🧑🏻‍🚀</h4>
                <a href="{% url 'post_new' %}">+ New Post</a><br />
                <a href="{% url 'post_draft_list' %}">+ Publish Post</a><br />
                <a href="{% url 'logout' %}">+ Logout</a>
            {% else %}
                <h4>Hello, World! 🧑🏻‍🚀</h4>
                <a href="{% url 'login' %}">+ Login</a>
            {% endif %}
        </div>
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>