h1 a, h2 a {
    color: lightcoral;
}

.welcome {
    font-size: 3rem;
}

.welcome__profile {
    text-align: right;
}

.post__detail {
    background: lightcoral;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.35);
}

.post-form label {
    display: block;
}

.post-form input {
    width: 336px;
    border-radius: .5rem;
    border: solid 1px lightgreen;
    padding: .5rem;
    outline: none;
}

.post-form textarea {
    width: 336px;
    border-radius: .5rem;
    border: solid 1px lightgreen;
    padding: .5rem;
    outline: none;
}

.form-control__login input {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control__login input:focus {
    color: #495057;
    background: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}